body{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: large;
    }
    .navbar{
    padding-top: 80px;
    width: 200px;
    height: 100%;
    background-color: #232152;
    overflow: auto;
    }
    .navbar a{
    padding: 12px 48px 13px 48px;
    display: block;
    color: white;
    text-decoration: none;
    }
    .navbar a:hover{
    background-color: #648ed1;
    color: white;
    }